.btn-container {
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
    align-items: center;
    border-radius: 10px;
    padding: 28px 50px 25px;
}

.btn-container button {
    border-radius: 5px;
    background-color: #00285F;
    width: 174px;
    height: 40px;

}

.btn-container button:hover{
    background-color: #00285F;
}

.btn-container p {
    font-weight: 400;
    font-size: 18px;
    color: #585858;
    margin: 9px 0 0;
}

.btn h6 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .btn-container {
        flex-direction: row;
    }

    .btn h6 {
        font-size: 14px;
    }

    .btn-container p{
        margin: 0 0 0 20px;
    }
}

@media (min-width: 768px) {
    .btn-container{
        padding: 42px 230px 41px 105px;
    }
}

@media (min-width: 1200px){
    .btn-container{
        width: 979px;
        margin-top: 30px;
    }
}