.search-container {
    width: 100%;
    height: 86px;
    background: #EDEDED;
    border-radius: 10px;
    display: flex;
    padding: 22px 14px 24px 10px;
    justify-content: center;
    align-items: center;
}

.input-container {
    width: 199px;
    height: 40px;
}

.input-container input {
    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
    border: none;
    width: 100%;
    height: 100%;
}

.button-container {
    width: 77px;
    height: 40px;

}

.button-container button {
    background: #00285F;
    border-radius: 0px 5px 5px 0px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    padding: 12px 10px 12px 14px;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    .search-container {
        height: 123px;
        padding: 42px 22px 41px 20px;
    }

    .input-container {
        width: 320px;
    }

    .button-container {
        width: 174px;

    }
}

@media (min-width: 768px) {
    .input-container {
        width: 516px;
    }
}

@media (min-width: 992px) {
    .search-container {
        padding: 42px 97px 41px;
    }

    .input-container {
        width: 584px;
    }
}

@media (min-width: 1200px) {
    
}